version: "3.9"

services:
  orchestrator:
    build:
      context: ..
      dockerfile: docker/Dockerfile.server   # 复用镜像
    container_name: orchestrator
    # command: ["python", "-u", "orchestrator/orch_service.py"]
    # 使用模块方式启动，自动解决包路径问题
    command: ["python", "-u", "-m", "orchestrator.orch_service"]
    ports:
      - "7070:7070"
    
    # ================= 必须新增这部分 =================
    volumes:
      # 意思是：把宿主机的 "../outputs" 目录 <---> 映射到容器里的 "/app/outputs"
      - ../outputs:/app/outputs
      - ../data:/app/data
    # ================================================
    environment:
      OUT_DIR: outputs
      PYTHONPATH: /app   # <--- 注意：这里要用冒号 : 并且后面有个空格

      PARTITION_SCHEME: dirichlet   # 或 non-iid
      DIRICHLET_ALPHA: 0.3
      DATA_DIR: /app/data


      # Veins side
      VEINS_MODE: rpc           # mock | rpc
      VEINS_HOST: 172.17.0.1    # Linux host gateway (Veins runs on host)
      VEINS_PORT: 10001

      # scenario params (must match your Veins/SUMO)
      MAP_SIZE_M: 4000
      NUM_VEH: 100

      # RSU_X_M: 2000
      # RSU_Y_M: 2000
      # RSU_R_M: 3000

      # RSU 坐标必须与 omnetpp.ini 中的 *.rsu[0].mobility.x/y 一致
      RSU_X_M: 1250          # 原来是 2000 -> 改为 1250
      RSU_Y_M: 1250          # 原来是 2000 -> 改为 1250
      RSU_R_M: 500           # 原来是 3000 -> 改为 500, RSU 逻辑半径，建议与你的预期逻辑保持一致

      # FL params
      ROUNDS: 10
      M: 10
      DEADLINE_S: 25
      MODEL_DOWN_BYTES: 2000000
      MODEL_UP_BYTES: 2000000

      # carbon/radio
      CI_G_PER_KWH: 153.0
      P_RX_W: 1.0
      P_TX_W: 1.5

      CI_MODE: electricitymaps # fixed | electricitymaps 在这里指定,不需要在orch_core.py手动指定
      ELECTRICITYMAPS_TOKEN: "eyEFSfkLXrarj0rSMNRn"  # 建议加上引号，防止Token里有特殊字符
      ELECTRICITYMAPS_ZONE: ES
      CI_CACHE_S: 300
      

  fl_server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.server
    container_name: fl_server
    depends_on: [orchestrator]
    ports:
      - "8080:8080"
    environment:
      SERVER_ADDR: 0.0.0.0:8080
      ROUNDS: 10
      ORCH_URL: http://orchestrator:7070

    volumes:
      # - ../outputs:/app/outputs:ro
      - ../outputs:/app/outputs
      - ../data:/app/data:ro

  fl_client:
    build:
      context: ..
      dockerfile: docker/Dockerfile.client
    depends_on: [fl_server]

    environment:
      SERVER_ADDR: fl_server:8080
      P_COMP_W: 18
      CI_G_PER_KWH: 153.0
      SLEEP_SCALE: 0.10

      # DATASET: cifar10
      # DATA_DIR: /app/data
      # NUM_VEH: 100
      # SEED: 42
      # PARTITION_MODE: iid
      # PARTITION_PATH: /app/outputs/partitions/cifar10_N100_seed42_iid.json
      # BATCH_SIZE: 64
      # EPOCHS: 1
      # LR: 0.01

    volumes:
      - ../outputs:/app/outputs:ro
      - ../data:/app/data

